<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node Server 2- HTML</title>
    <link
    href="https://fonts.googleapis.com/css?family=Prata"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/about.css" />
  </head>
  <header>
    <div class="menu">
      <a href="/" class="menuBtn">...</a>
    </div>
  </header>
  <body>
    <h1>What is Studio Chizu</h1>
    
    <div class="text">
      <p>
        Studio Chizu is Director Mamoru Hosoda's headquarters that was
        established during the production of Wolf Children. Director Hosoda gave
        the studio its name, Chizu ("map" in Japanese). There is a long history
        of animation films represented more often than not by those of Toei and
        Disney, but there are still unexplored motifs and themes with limitless
        possibilities. Be self-reliant and determined with a spirit of challenge
        like adventurers setting sail out to the big seas toward a frontier of
        possibilities. And to discover a new continent of movies that nobody has
        ever seen before and to draw a new map on that uncharted land. The name
        embodies this philosophy. The main characters in Hosoda films possess a
        vitality and life force for choosing and cultivating a future of one's
        own free will. Studio Chizu's logo manifests that exuberance and energy.
        Director Hosoda's philosophy of movies is that "they should serve the
        public like a park where many people gather," and the logo uses
        "minchotai," a font favored by many newspapers and books. Studio Chizu
        is a place that embraces Director Hosoda's thoughts and philosophies on
        movies and is his works themselves. We at Studio Chizu will keep such
        thoughts and philosophies in mind and remain sharp and resolute in our
        production of animation films that children and adults can enjoy
        together
      </p>
    </div>
  </body>
</html>
