<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node Server 2- HTML</title>
    <link
      href="https://fonts.googleapis.com/css?family=Prata"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/gallery.css" />
  </head>
  <header>
    <div class="menu">
      <a href="/" class="menuBtn">...</a>
    </div>
  </header>
  <body>
    <h1>Gallery</h1>
    <h4>Mirai - 2018</h4>
    <div class="images">
      <img src="/mirai1.jpg" alt="mirai1" />
      <img src="/mirai2.jpg" alt="mirai2" />
      <img src="/mirai3.jpg" alt="mirai3" />
    </div>
    <h4>The boy and the beast - 2015</h4>
    <div class="images">
      <img src="/theboyandthebeast1.jpg" alt="theboyandthebeast1" />
      <img src="/theboyandthebeast2.jpg" alt="theboyandthebeast2" />
      <img src="/theboyandthebeast3.jpg" alt="theboyandthebeast3" />
    </div>
    <h4>Wolf hildren - 2012</h4>
    <div class="images">
      <img src="/wolfchildren1.jpg" alt="wolfchildren" />
      <img src="/wolfchildren2.jpg" alt="wolfchildren2" />
      <img src="/wolfchildren3.jpg" alt="wolfchildren3" />
    </div>
    <h4>Summer Wars - 2009</h4>
    <div class="images">
      <img src="/summerwars1.jpg" alt="summerwars1" />
      <img src="/summerwars2.jpg" alt="summerwars2" />
      <img src="/summerwars3.jpg" alt="summerwars3" />
    </div>
    <h4>The girl who leapt throught time - 2006</h4>
    <div class="images">
      <img src="/thegirl1.jpg" alt="thegirl1" />
      <img src="/thegirl2.jpg" alt="thegirl2" />
      <img src="/thegirl3.jpg" alt="thegir3" />
    </div>
  </body>
</html>
